:root {                             /**  Call with background-color: var(--first-color);  */
  --light-brown: #c19a6B;
  --dark-brown: #a67e51;
  --blue: #3e6594;
}

body {
  background-image: url("/img/twofaces.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Andada Pro', serif;
  font-family: 'Rye', cursive;
}

p {
  font-weight: bold;
  font-family: 'Andada Pro', serif;
  font-size: 0.9rem;
}

#containerDark {
  opacity: 0.90;
  width: 98%;
  background-color: var(--dark-brown);
}

#containerLight {
  background-color: var(--light-brown);
  opacity: 0.90;
  width: 96.3%;
}

#modalContent {
  background-color: var(--light-brown);
}

#textSmall {
  font-size: small;
}