:root {                             /**  Call with background-color: var(--first-color);  */
  --dark-brown: #5c4121;
  --light-brown: #c19a6B;
  --khaki: #aa7e38;
  --blue: #3e6594;
}

#bcLightBrown{
  background-color: var(--light-brown);
}
#bcKhaki{
  background-color: var(--khaki);
}


html {
  font-family: 'Andada Pro', serif;
  font-family: 'Rye', cursive;
}
h1, h3, h4 {
  font-family: 'Andada Pro', serif;
  font-family: 'Rye', cursive;
}
#h1{
  font-size:3.5rem;
}
p {
  font-weight: bold;
  font-family: 'Andada Pro', serif;
  font-size: 1.25rem;
}
img {
  opacity: 100;
}


#containerFluid {
  background-color: var(--light-brown);
  width: 98%;
  opacity: 0.87;
  
}
#containerFluidSpecial {
  width: 100%;
  opacity: 0.87;
  background-color: var(--khaki);
}


#welcome {
  background-color: var(--khaki);
  width: 98%;
  opacity: 0.87;
}


















body {                               
  font-family: 'Andada Pro', serif;
}







/* * Modal  ******************************/

#modalHeader {
  text-align: center;
  border-bottom: 0;
  color: black;
}
#twoHorsesImg {
  border: solid var(--green);
}
#modalFooter {
  border-top: 0;
}
/*****************************************/
